<div class="galleryPage">

  <div class="row galleries">
    <!-- Titres des la page -->
    <div class="col-1">
      <h1>&nbsp;Mes galeries <mat-icon>photo_library</mat-icon></h1>
    </div>
  </div>

  <div class="row galleries">

    <div class="col-1 galleryList">
      <!-- Photos de couverture de galeries -->
     <div class="galleryThumbnail" *ngFor="let g of galeries" (click)="getGaleryInfo(g.id, g.name)">
      <div>{{g.name}}</div>
      <img tabindex="0" src="/assets/images/galleryThumbnail.png" alt="Galerie #1">
     </div>

    </div>
  
    <div class="col-4 pictureList">
      
      <div class="options newGallery">
        <h3>Nouvelle galerie : </h3>
        <input type="text" name="newGalleryName" placeholder="Nom de la galerie" [(ngModel)]="name">

        <!-- Ajouter une image de couverture -->
        <input #myPictureViewChild type="file" name="newGalleryCoverPicture" accept="images/*">

        <!-- Cet input peut être relié à une variable booléenne -->
        <input type="checkbox" name="newGalleryIsPublic" [(ngModel)]="isPublic">Publique

        <button mat-raised-button (click)="createNewGalery()">Créer la galerie	<mat-icon>add_to_queue</mat-icon></button>
      </div>
      <hr>
       <!-- Options de la galerie sélectionnée -->
       <h3>Modifier la galerie sélectionnée : {{galeryName}}</h3>
       <div class="options">
        <!-- Changer la couverture -->
        <div class="option">
          <input #newCoverPicture type="file" name="newGalleryCoverPicture" accept="images/*"><button mat-raised-button>Changer la couverture <mat-icon>photo_library</mat-icon></button>
        </div>

        <!-- Partager la galerie -->
        <div class="option">
          <input type="text" name="newOwnerUsername" placeholder="Nom d'utilisateur" [(ngModel)]="username">
          <button mat-raised-button color="primary" (click)="addAllowedUser()">Partager la galerie <mat-icon>supervised_user_circle</mat-icon></button>
        </div>

        <!-- Changer la visibilité -->
        <div class="option">
          <button mat-raised-button (click)="makeGalleryPrivate()">Rendre privée <mat-icon>verified_user</mat-icon></button>
          <button mat-raised-button (click)="makeGalleryPublic()">Rendre publique	<mat-icon>remove_red_eye</mat-icon></button>
        </div>

        <!-- Supprimer la galerie -->
        <div class="option">
          <button mat-raised-button color="warn" (click)="deleteGallery()">Supprimer la galerie <mat-icon>delete</mat-icon></button>
        </div>
      </div>

      <hr>
      <!-- Photos de la galerie sélectionnée -->
      <h2>Photos de la galerie sélectionnée <mat-icon>photo_camera</mat-icon></h2>
    </div>

  </div>

</div>